$input-background: rgba(0, 0, 0, 0.1);
$card-background: rgba(255, 255, 255, 0.2);
$color-gray: rgba(255, 255, 255, 0.6);

a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  transition: color 0.3s ease 0s;
}
a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

.el-input__inner {
  background: $input-background;
  // background: transparent;
}
.el-textarea__inner {
  background: $input-background;
}
.el-dropdown-menu__item {
  color: rgba(0, 0, 0, 0.7);
}

/* agree page checkbox */
.el-checkbox__label {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  white-space: normal;
  width: 100%;
}
.el-checkbox__inner {
  background: transparent;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: white;
}
.el-checkbox__input:hover .el-checkbox__inner,
.el-checkbox__input.is-focus .el-checkbox__inner,
.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: white;
  background: transparent;
}
.el-checkbox__inner::after {
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  height: 12px;
  width: 6px;
  left: 5px;
  top: 0;
}

/* message-box */
.el-message-box {
  background-color: #0058d2;
  border: none;
  padding: 8px;
  padding-bottom: 16px;
  .el-message-box__headerbtn .el-message-box__close {
    color: white;
  }
  .el-button--primary {
    background: white;
    color: #0091ff;
    border: none;
  }
}

/* tabs */
.el-tabs__nav-wrap::after {
  background-color: $color-gray;
}
.el-tabs__active-bar {
  background-color: white;
}
.el-tabs__item {
  color: $color-gray;
}
.el-tabs__item:hover,
.el-tabs__item.is-active {
  color: white;
}
.el-upload {
  width: 100%;
  .el-upload-dragger {
    width: 100%;
    background-color: $card-background;
    border-color: $color-gray;

    &:hover {
      border-color: white;
      background-color: rgba(250, 250, 250, 0.3);
    }

    .el-upload__text {
      color: $color-gray;
      em {
        color: white;
      }
    }
  }
}

.el-table th {
  height: 54px;
  background: rgba(250, 250, 250, 1);
}

.el-pagination button,
.el-pagination span:not([class*='suffix']) {
  height: 32px;
  line-height: 32px;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  min-width: 32px;
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 32px;
  border-radius: 6px;
  border: 1px solid rgba(217, 217, 217, 1);
  background: rgba(255, 255, 255, 1);
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #2d71b8;
  border: 1px solid #2d71b8;
}

.backup-dialog {
  .el-dialog {
    min-width: 360px;
    max-width: 800px;
  }
}
