a, a:link, a:visited, a:hover, a:active {
  color: $blue;
  text-decoration: none;
}

.el-input__inner {
  height: 32px;
}

.el-table th {
  height: 54px;
  background: rgba(250, 250, 250, 1);
}

.el-pagination button, .el-pagination span:not([class*=suffix]) {
  height: 32px;
  line-height: 32px; }

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li  {
  min-width :32px;
  height: 32px;
  color: rgba(0,0,0, 0.65);
  line-height: 32px;
  border-radius: 6px;
  border:1px solid rgba(217,217,217,1);
  background:rgba(255,255,255,1);
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #2D71B8;
  border: 1px solid #2D71B8;
}